<?php
/*
  - rename this file to device-users.php
  - edit the usernames and passwords
  - !!! never checkin/commit this file to git nor github or any other SCM if latter is not secured and just available to persons you trust! ;)
  - and - please! - delete the example users - any user given here has full access to personal resources ;)
*/
    $authorizedDevices = array();
    $authorizedDevices['device'] = 'password';
